/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.banner {
    height: 540px;
    background: #fff url("../images/banner.jpg") center center / cover no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .banner h2 {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
  }
  
  .banner h3 {
    margin-top: 4px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
  }
  
  hr {
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
    border-top: 3px solid #d94d3f;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  /* banner 2                                        */
  /* - - - - - - - - - - - - - - - - - - - - - - - - */

  .banner2 {
    height: 540px;
    background: #fff url("../images/jack-o-lanterns.jpg") center center / cover no-repeat; 
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .banner2 h2 {
    font-size: 46px;
    font-weight: 300;
    color: darkgrey;
  }
  
  .banner2 h3 {
    margin-top: 4px;
    font-size: 24px;
    font-weight: 400;
    color: darkgrey;
  }
  
  hr {
    width: 80px;
    margin: 0 auto;
    margin-top: 25px;
    border-top: 3px solid #d94d3f;
  }
  